body {margin:0;
    background-color: midnightblue;
    height: 95vh;
    }
.left {
    width: 100%;
    direction: ltr ;
}
.icon-bar {
  width: 20%;
  background-color: #555;
  direction: ltr ;
}

.icon-bar a { 
  display: block;
  text-align: center;
  padding: 50px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  
  margin-top: 0pc;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}