<html>

<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/master.css">
</header>

<body>
    {% block navbar %}
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">Shop</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    {% endblock %}

    <div class="container">

        {% block main %}
        {% endblock %}

    </div>

    <div class="container">
        <footer class="blockquote-footer">
            Made by itworks bootcamp. All right reserved.
        </footer>
    </div>
</body>

</html>