
{% extends "base.html" %}
{% block main %}
<h1>Books:</h1>
    <table border='1'>
        <thead>
         <tr>
           <th>ID</th>
           <th>Name</th>
           <th>Price</th>
           <th>Quantity</th>
             <th>Category</th>
             <th>Description</th>
             <th>author_name</th>
             <th>year</th>
             <th>picture path</th>
         </tr>
        </thead>

  {% for row in rows %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.stock_quantity }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.author_name }}</td>
        <td>{{ row.publish_year }}</td>
        <td>{{ row.picture_path }}</td>

        <td><a href="editItem/{{ row.id }}"><button type="button">Edit</button></a></td>
        <td><a href="deleteItem/{{ row.id }}"><button type="button">Delete</button></a></td>
    </tr>
    {% endfor %}
{% endblock %}
