<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Orders</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/landing_page/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/landing_page/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/landing_page/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/landing_page/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/landing_page/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
<br><br>
   <tbody>
<h1><br> <span class="blu">Order List <br></span></h1>
  {% for user_book,order in rows %}
      <div class="glasses"> <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/static/landing_page/images/{{ user_book.picture_path}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><span class="blu">$</span>Price:{{ user_book.price}}</h5>
      <p class="card-text">Book Name :{{ user_book.name }}</p>
      <p class="card-text"> Quantity :{{ order.quantity }}</p>
      <p class="card-text">Order Id:{{ order.id }}</p>
    <a href="" class="btn btn-primary">Delete</a>
  </div>
</div>


        </div></div>

    {% endfor %}
</tbody>
</html>