<html>
{% extends "base.html" %}
<header>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>My app</title>
    {% endif %}
</header>

<body>
{% block main %}
    <h1>Products:</h1>
 <table border='1'>
    <thead>
     <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Price</th>
       <th>Quantity</th>
         <th>Category</th>
     </tr>
    </thead>

  {% for row in rows %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.stock_quantity }}</td>
        <td>{{ row.category }}</td>
    </tr>
    {% endfor %}
{% endblock %}
</body>
</html>

