<html>
{% extends "base.html" %}
<header>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>My app</title>
    {% endif %}
</header>

<body>
{% block main %}
    <h1>Products:</h1>

    {% for product in products %}
    <div class="card">
    <img class="card-img-top" src="{{ product['pic'] }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ product['name'] }}</h5>
      <p class="card-text">
        <p>Id: {{ product['id'] }}</p>
        <p>Name: {{ product['name'] }}</p>
        <p>Price: {{ product['price'] }}</p>
        <p>Quantity: {{ product['stock_quantity'] }}</p>
        <p>Category: {{ product['category'] }}</p>
        </p>
    </div>
        <div class="card-footer">
      <small class="text-muted">Price: {{ product['price'] }}</small>
    </div>
    </div>
    <hr class="rounded">
    {% endfor %}
{% endblock %}
</body>

</html>