  
{% extends "base.html" %}

{% block main %}

    <form action="" novalidate method="post">

        {{ form.hidden_tag() }}

        <div>
            {{ form.searchby.label }}
            {{ form.searchby(class="form-control") }}

        </div>

        <div>
            {{ form.value.label }}
            {{ form.value(class="form-control") }}

            {% for error in form.value.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>

        {{ form.submit(class="form-control") }}
    </form>


{% endblock %}