<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/static/assets_signup/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets_signup/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/assets_signup/css/styles.css">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">

            <div class="image-holder">
            </div>
    <form action="" novalidate method="post">
        <h2 class="text-center"><strong>Search </strong> a book.</h2>
        {{ form.hidden_tag() }}

        <div>
            {{ form.searchby.label }}
            {{ form.searchby(class="form-control") }}

        </div>

        <div>
            {{ form.value.label }}
            {{ form.value(class="form-control") }}

            {% for error in form.value.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>

        {{ form.submit(class="form-control" , style="background: rgb(71,151,244);") }}
    </form>
        </div>
    </div>
    <script src="/static/assets_signup/js/jquery.min.js"></script>
    <script src="/static/assets_signup/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>