{% extends "base.html" %}

{% block main %}

    <form action="" novalidate method="post">

        {{ form.hidden_tag() }}

        <div>
            {{ form.username.label }}
            {{ form.username(class="form-control") }}

            {% for error in form.username.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>

        <div>
            {{ form.password.label }}
            {{ form.password(class="form-control") }}

            {% for error in form.password.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>

        {{ form.submit(class="form-control") }}
    </form>


{% endblock %}